/* src/App.css */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
img{
  width: 25%;
  height: 70%;
}
.head{
  margin-left: auto;
  font-size: 200%;
  font-weight: bold;
}
body {
  font-family: 'Arial', sans-serif;
  background-image: url('C:\Users\Varun Mithyantha\Desktop\Projects\weather-app\Weather-App\src\components\sky.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
}
/* src/App.css */

.text-left {
  text-align: left !important;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.day{
  margin-top: 100%;
}

@media (max-width: 768px) {
  img{
    width: 15%;
    height: 20%;
  }
  .head{
    margin-left: auto;
    font-size: 120%;
    font-weight: bold;
  }

  .btn-success {
    width: 38%;
  }
}


/* Add additional styling as needed */
